
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>HangOut 99 | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">

    <style>
      @media (max-width: 992px) {

        #mobileLogOut {
          display: inherit;
        }

      }

      #mobileLogOut {
        display: none;
      }
    </style>

    {% block header %}{% endblock %}

<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body ondragstart="return false"> 
  
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{url_for('main.index')}}" class="logo">
              <h4>HangOut<img style="margin-top: 0px;" src="{{url_for('static', filename='favicon.ico')}}" alt="99"></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('user.account')}}">My Account</a></li>
              <li><a href="{{url_for('user.logout')}}">Log out</a></li>
              <li id="mobileLogOut"><a href="{{url_for('user.logout')}}">Log out</a></li>
              {% else %}
              <li><a href="{{url_for('user.login')}}">Log In</a></li>
              <li><div class="main-blue-button"><a href="{{url_for('user.register')}}">Register Now</a></div></li> 
              {% endif %}
              
            </ul>       
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  {% if current_user.is_authenticated %}
  <main class="authenticated-page" style="margin-top: 150px;">
  {% else %}
  <main style="margin-top: 150px;">
  {% endif%}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      {% endfor %}
  {% endif %}
  {% endwith %} 

  {% block body %}{% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2021 SEO Dream Co., Ltd. All Rights Reserved. 
          
          <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->

  <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

  <script>

    function removeAlert() {
      document.getElementById("removeThisAlert").remove();
      document.getElementById("removeThisAlertMobile").remove();
    }

    {% block script %}{% endblock %}
  </script>


</body>
</html>